/* tables */
table.tablesorter {
	font-family:verdana, arial, helvetica, sans-serif;;
	background-color: #CDCDCD;
	margin:1px 0px 15px 1px;
	font-size: .8em;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 1em;
	padding: 2px;
	white-space: nowrap; 
	overflow: hidden; 
}
table.tablesorter thead tr .header {
	/*background-image: url(bg.gif);*/
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
	white-space: nowrap; 
	overflow: hidden;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	/*background-image: url(asc.gif);*/
}
table.tablesorter thead tr .headerSortDown {
	/*background-image: url(desc.gif);*/
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
