# Project files
# halaya folders
application/logs
autodefs/
SQLVersionControl/
application/config/database.php

.idea
nbproject
*.iml
out
gen

# Kohana template
#application/cache/*
#application/logs/*

# Composer
/vendor/
composer.lock
